@page
@model WebApplicationExamenI.Pages.carro.GridModel
@{
}

<div class="container">
    <div class="card">
        <div class="card-header">
            Featured  <!--aca va el nombre de la entidad-->
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>datos de la entidad</th>
                                <th>datos de la entidad</th>
                                <th>datos de la entidad</th>
                                <th>datos de la entidad</th>
                                <th>datos de la entidad</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
